* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background: linear-gradient(90deg, gray, lightseagreen);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  background-color: cornflowerblue;
  color: white;

  border-radius: 10px;
  padding: 30px;
}

.btn-div {
  margin: 0 auto;
}

#btn {
  color: white;
  padding: 10px;
  background-color: lightseagreen;
  border: none;
  outline: none;
  border-radius: 5px;
}

#text {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}

#result {
    margin: 0 auto;
}
